.container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 1rem;
    height: 71px;
    filter: drop-shadow(4px 10px 4px rgba(0, 0, 0, 0.5));
    background: var(--lightBlue);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Norwester";
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 58px;
    color: var(--yellow);
    z-index: 10;
}
