.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 276px;
    border-left: 2px solid var(--orange);
    border-right: 2px solid var(--orange);
    padding: 0.5rem;
    transition: all 1s ease-in;
    position: relative;
}

.customInput {
    background-color: var(--lightBlue);
    width: 184px;
    height: 31px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem 0;
    position: relative;
}

.customInput:hover {
    cursor: pointer;
}

.customInput p {
    font-size: 20px;
    user-select: none;
}

.customInput .arrowIcon {
    position: absolute;
    right: 10px;
    color: var(--orange);
    font-size: 1rem;
    transition: transform 0.5s cubic-bezier(0.29, 1.37, 0.58, 1);
}

.iconSpin {
    transform: rotate(-180deg) !important;
}

.dropdown {
    background-color: #006992;
    width: 184px;
    height: 95px;
    border-radius: 5px;
    border: 2px solid var(--orange);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    position: absolute;
    top: 45px;
    z-index: 10;
}

.dropdown button {
    border: none;
    background: #006992;
    width: 90%;
    border-radius: 3px;
    margin: 0.2rem 0 0.2rem 0;
    font-size: 16px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
}

.dropdown button:hover {
    background: rgba(0, 0, 0, 0.13);
}

.toggleBtns button,
.container .readyBtn {
    border: none;
    background: #006992;
    width: 75px;
    height: 31px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    transition: none;
}

.container button:hover {
    transform: none;
    box-shadow: none;
}

.container .toggleBtns {
    width: 184px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem 0;
}

.toggleBtns button {
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: rgba(234, 248, 191, 0.35);
}

.toggleBtns .toggled {
    border: 2px solid #eca400;
    box-shadow: none;
    color: #eaf8bf;
}

.toggleBtns button:nth-child(1) {
    font-size: 15px;
}
.toggleBtns button:nth-child(2) {
    font-size: 16px;
}
.container .readyBtn {
    font-size: 20px;
    background: #eaf8bf;
    color: #006992;
}

.closer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -385%;
    z-index: 5;
}

/* Scrollbar */
.dropdown::-webkit-scrollbar {
    width: 10px;
}

.dropdown::-webkit-scrollbar-track {
    background: transparent;
    width: 20px;
}

.dropdown::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    width: 1px;
    border-radius: 20px;
    border: 4px solid rgba(255, 252, 252, 0);
    background-clip: content-box;
}
